.easytt_view_title_row {
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    width: 100%;
}
#form_user{
    display: none;
}
#form_of_entry{
    display: none;
}
#buttonShow{
    display: none;
}

#floating-zone{
    position: fixed;
    top: 70px;
    background-color: rgb(190, 220, 235);
    border-color: rgb(0, 2, 3);
    border-width: 1px;
}

.easytt_view_title {
    text-transform: capitalize;
}

.easytt_calendar {
    border-top: solid 1px black;
    border-right: solid 1px black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.easytt_calendar_row {
    display: flex;
}

.easytt_calendar_header {
    text-align: center;
    text-transform: capitalize;
    background-color: lightgray;

}

.easytt_calendar_col {
    width: 100%;
    
    border: solid 1px black;
    border-top: none;
    border-right: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow:  hidden;

}

.easytt_calendar_day_header {
    text-align: center;
    text-transform: capitalize;
    border-bottom: solid 1px black;
}

.easytt_calendar_day_content {
    min-height: 160px;
}

.easytt_calendar_day_today {
    background-color: lightyellow;
}

.easytt_timeslot {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    padding-left: 5px;
    margin-right: 5px;
    
    border: solid 1px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.easytt_timeslot_ok {
    background-color: lightgreen;
    border-color: green;
}

.easytt_timeslot_error {
    background-color: lightcoral;
    border-color: red;
}

.required{
    color: red;
}
.imageEdit{
    background-image: url(/images/edit.png);
}
.localimage{
    position: relative;
}
#button_duplicate{
    background-color: transparent;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    display: inline;
    background-attachment: scroll;
    background-image: none;
    background-size: auto auto;
    background-origin: padding-box;
    background-clip: border-box;
}